<a href="https://colab.research.google.com/github/OlusolaAmusan/DataScienceBootCamp/blob/master/Iris_Plots.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import

In [ ]:
#import libraries
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression,LinearRegression,Perceptron
from sklearn.metrics import mean_squared_error, r2_score
import math
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
from matplotlib.colors import ListedColormap, LinearSegmentedColormap
pd.options.display.max_rows=12

# Helper Functions

In [ ]:
def plot_hyperplane(ax1,c,color,clf,xmin,xmax):
    coef = clf.coef_
    intercept = clf.intercept_
    def line(x0):
        return (-(x0 * coef[c, 0]) - intercept[c]) / coef[c, 1]
    ax1.plot([xmin, xmax], [line(xmin), line(xmax)],
                ls="--", color=color)

In [ ]:
def decision_point(clf):
    coef = clf.coef_
    intercept = clf.intercept_
    return (-intercept[0])/coef[0,0]

# Data loading

In [ ]:
#download the data
!git clone https://github.com/sopolat/HomeworkFiles.git

fatal: destination path 'HomeworkFiles' already exists and is not an empty directory.

In [ ]:
#load training dataframes
sl_c = pd.read_csv("/content/HomeworkFiles/iris/train/iris_versicolor_vs_virginica.sl.c.train.csv")
sl_pl = pd.read_csv("/content/HomeworkFiles/iris/train/iris_versicolor_vs_virginica.sl.pl.train.csv")
sl_pw_c = pd.read_csv("/content/HomeworkFiles/iris/train/iris_versicolor_vs_virginica.sl_pw.c.train.csv")
sl_pw_pl = pd.read_csv("/content/HomeworkFiles/iris/train/iris_versicolor_vs_virginica.sl_pw.pl.train.csv")
#load dev set
sl_c_d = pd.read_csv("/content/HomeworkFiles/iris/tune/iris_versicolor_vs_virginica.sl.c.tune.csv")
sl_pl_d = pd.read_csv("/content/HomeworkFiles/iris/tune/iris_versicolor_vs_virginica.sl.pl.tune.csv")
sl_pw_c_d = pd.read_csv("/content/HomeworkFiles/iris/tune/iris_versicolor_vs_virginica.sl_pw.c.tune.csv")
sl_pw_pl_d = pd.read_csv("/content/HomeworkFiles/iris/tune/iris_versicolor_vs_virginica.sl_pw.pl.tune.csv")

In [ ]:
#update class labels
sl_c.loc[sl_c["iris class"]=="Iris-virginica","iris class"]=1
sl_c.loc[sl_c["iris class"]=="Iris-versicolor","iris class"]=0
sl_c["iris class"]=sl_c["iris class"].astype('int')

sl_pw_c.loc[sl_pw_c["iris class"]=="Iris-virginica","iris class"]=1
sl_pw_c.loc[sl_pw_c["iris class"]=="Iris-versicolor","iris class"]=0
sl_pw_c["iris class"]=sl_pw_c["iris class"].astype('int')


sl_c_d.loc[sl_c_d["iris class"]=="Iris-virginica","iris class"]=1
sl_c_d.loc[sl_c_d["iris class"]=="Iris-versicolor","iris class"]=0
sl_c_d["iris class"]=sl_c_d["iris class"].astype('int')

sl_pw_c_d.loc[sl_pw_c_d["iris class"]=="Iris-virginica","iris class"]=1
sl_pw_c_d.loc[sl_pw_c_d["iris class"]=="Iris-versicolor","iris class"]=0
sl_pw_c_d["iris class"]=sl_pw_c_d["iris class"].astype('int')

In [ ]:
sl_pw_c

    sepal length  petal width  iris class
0            6.5          1.8           1
1            5.9          1.5           0
2            5.8          1.0           0
3            5.0          1.0           0
4            7.1          2.1           1
..           ...          ...         ...
45           6.3          1.5           0
46           5.8          1.2           0
47           5.8          2.4           1
48           6.7          2.3           1
49           5.7          1.0           0

[50 rows x 3 columns]